@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
.mobile-menu.active {
    transform: translateX(0);
}

.hamburger-icon.hidden, .close-icon.hidden {
    display: none;
}

/* Styling for scroll animations */
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
